<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/styles.css">
    <!-- Custom styles for this template -->
    <link href="bootstrap/css/jumbotron.css" rel="stylesheet">
    <link href="bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >

    <script>
      function validarLetras(inputElement) {
        var valorInput = inputElement.value;
        var soloLetras = /^[A-Za-z]+$/;

        if (!soloLetras.test(valorInput)) {
          inputElement.value = valorInput.replace(/[^A-Za-z]+/g, '');
        }
      }

      function validarNumerosDecimales(inputElement) {
        var valorInput = inputElement.value;

        valorInput = valorInput.replace(/,/g, '.');

        valorInput = valorInput.replace(/[^0-9.]+/g, '');

        if (!isNaN(parseFloat(valorInput)) || valorInput === '') {
          inputElement.value = valorInput;
        } else {
          inputElement.value = inputElement.dataset.previousValue || '';
        }

        inputElement.dataset.previousValue = inputElement.value;
      }
    </script>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">EmpleosApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/categorias/index}">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu 2</a>
            </li>          
          </ul>  
          <a class="btn btn-primary" href="#">Ingresar</a>&nbsp;
          <a class="btn btn-primary" href="#">Registrarse</a>
        </div>
      </nav>
    </header>

    <main role="main">     
      <hr>
      <div class="container" style="margin-top: 100px">

        <div class="card">
          <h4 class="card-header"><strong>Datos de la oferta de trabajo</strong></h4>              
          <div class="card-body">
            <!--Se especifica el objeto con el que se trabajará-->
            <form th:action="@{/vacantes/save}" method="post" th:object="${vacante}" enctype="multipart/form-data">
              <!--input en donde estará el id de la vacante a actualizar-->
              <input class="form-control" type="hidden" th:fiel="*{idvacante}" th:value="${vacante.idvacante}" name="idvacante">
              <!--input en donde estará el id de la categoria-->
              <input class="form-control" type="hidden" th:fiel="*{categoria}" th:value="${vacante.categoria}" name="id">

              <!--input en donde estará el nombre de la imagen-->
              <input class="form-control" type="hidden" th:fiel="*{imagen}" th:value="${vacante.imagen}" name="imagen">


              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" th:value="${vacante.nombre}" oninput="validarLetras(this)" placeholder="Titulo de la oferta de trabajo" required="required">
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" th:field="*{descripcion}" th:value="${vacante.descripcion}" oninput="validarLetras(this)" placeholder="Breve descripcion de la oferta de trabajo" required="required">
                  </div> 
                </div>    
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" name="categoriaselect" id="categoria">
                        <option th:each="categoriaItem: ${listCategorias}" th:value="${categoriaItem.id}" th:text="${categoriaItem.nombre}"
                                th:selected="${vacante.categoria != null and categoriaItem.id == vacante.categoria.id}">
                        </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="estatus">Estatus</label>
                    <select class="form-control" name="estatus" id="estatus" th:field="*{status}" th:value="${vacante.status}">
					  <option value="Creada">Creada</option>
                      <option value="Aprobada">Aprobada</option>
                      <option value="Eliminada">Eliminada</option>	
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Fecha de Publicación</label>
                    <input type="text" class="form-control" name="fecha" id="fecha" th:field="*{fecha}" th:value="${vacante.fecha}" placeholder="Fecha de publicacion" required="required">
                  </div>  
                </div>
                <div class="col-md-3"> 
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="destacado" id="destacado" th:field="*{destacado}"  value="si" th:checked="${vacante.destacado==null or vacante.destacado=='si'}" required>
                    <label class="form-check-label" for="destacado">Destacado</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="destacado" id="nodestacado" th:field="*{destacado}"  value="no" th:checked="${vacante.destacado=='no'}">
                    <label class="form-check-label" for="nodestacado">No Destacado</label>
                  </div>
                </div>
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="salario">Salario Ofrecido (Aprox)</label>
                    <input type="text" class="form-control" name="salario" id="salario" th:field="*{salario}" th:value="${vacante.salario}" oninput="validarNumerosDecimales(this)" placeholder="Salario aproximado." required="required">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="archivoImagen">Imagen</label>
                    <div class="image-container">
                      <img th:if="${vacante.imagen==null}" th:src="@{'/images/vacante.jpg'}" alt="Imagen seleccionada" width="200" height="200">
                      <img th:unless="${vacante.imagen==null}" th:src="@{'/images/'}+${vacante.imagen}" alt="Imagen seleccionada" width="200" height="200">
                      <input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
                    </div>
                  </div>
                </div>
              </div> 
              <hr>
              <div class="row">
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="detalles"><strong>Detalles</strong></label>          
                    <textarea class="form-control" name="detalles" id="detalles" rows="7" th:text="${vacante.detalles}" oninput="validarLetras(this)"></textarea>
                  </div> 
                </div> 
                <div class="col-md-3">
                  <!--<label for="imagen">Imagen/Logo</label>-->
                  <img class="rounded mx-auto d-block" src="/images/vacante.jpg" alt="Generic placeholder image" width="200" height="200">
                </div>
              </div> 
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2019 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot 2.1.2
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>    
    <script src="tinymce/tinymce.min.js"></script>
    <script>
      
      $(function () {
          $("#fecha").datepicker({dateFormat: 'dd-mm-yy'});
        }
      );
      
      /*
      tinymce.init({
          selector: '#detalles',
          plugins: "textcolor, table lists code",
          toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                    | bullist numlist outdent indent | forecolor backcolor table code"
      });
      
      */
      
    </script>
  </body>
</html>