<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/jumbotron.css" rel="stylesheet">
    <link href="/bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">EmpleosApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu 2</a>
            </li>          
          </ul>  
          <a class="btn btn-primary" href="#">Ingresar</a>&nbsp;
          <a class="btn btn-primary" href="#">Registrarse</a>
        </div>
      </nav>
    </header>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3>Encuentra el trabajo que andas buscando.</h3>
          Puedes buscar por descripción y categoría.
          <form class="form-inline" th:action="@{/home/index}">
            <input type="text" class="form-control mb-3" id="exampleFormControlInput1" name="clave" placeholder="Escriba una búsqueda" th:value="${clave}">&nbsp;
            <select class="custom-select custom-select mb-3" name="id">
              <option selected th:value="${null}">Seleccione una categoría</option>
              <option th:each="categoriaItem: ${listCategorias}" th:value="${categoriaItem.id}" th:text="${categoriaItem.nombre}"></option>
            </select>&nbsp;
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
          </form>
        </div>
      </div>
      <hr>

      <div class="container"> 
        <h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
        <hr>
        <div class="row" th:each="vacanteItem: ${listVacantesFeatures}">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{'/images/'}+${vacanteItem.imagen}" alt="Generic placeholder image" width="220" height="220">
          </div>
          <div class="col-md-9">
            <h2 th:text="${vacanteItem.nombre}"></h2>
            <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${vacanteItem.categoria.nombre}"></span></h6>
            <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${vacanteItem.fecha}"></span></h6>
            <p th:text="${vacanteItem.detalles}"></p>
            <p><a class="btn btn-secondary" th:href="@{'/home/vacante/details/' + ${vacanteItem.idvacante}}" role="button">Ver Detalles &raquo;</a></p>
          </div>
        </div>
		  <hr>	
      </div> <!-- /container -->
    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2019 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot 2.1.2
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
